# 数据库配置
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=checkin_db
DB_PORT=3306

# 服务器配置
PORT=20010
NODE_ENV=development

# MinIO配置
MINIO_ENDPOINT=cheerout.cn:19000          # MinIO 服务器地址（格式：主机名：端口）
MINIO_BUCKET=editmydegree                 # 存储桶名称
MINIO_ACCESS_KEY=zxx                      # Access Key
MINIO_SECRET_KEY=991218aa                 # Secret Key
MINIO_USE_SSL=false                       # 是否使用 SSL（true/false）